{% load static %}
<!DOCTYPE html>
<html>
<header lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/stylesignup.css' %} ">
    </head>
    <div id="container">
        {% block content %}
        <header>
            <h1>Тайный Санта</h1>
        </header>
        <aside>
            {% if request.user.is_authenticated %}
                <p><a href="{% url 'logout' %}">Выход</a></p>
                <p><a href="{% url 'check' %}">Создать игру</a></p>
                <p><a href="{% url 'open_boxes' %}">Открытые игры</a></p>
                <p><a href="{% url 'open_boxes' %}">Ввести пароль для входа в игру</a></p>
            {% else %}
                <p><a href="{% url 'signup' %}">Регистрация</a></p>
                <p><a href="{% url 'login' %}">Вход</a></p>
            {% endif %}
        </aside>
        <centerw>
            {% if request.user.box %}
                <h1>Вы учавствуете в игре: {{ request.user.box.title }}</h1>
                <a href="{% url 'exit_box' %}"><button type="submit">Выйти из игры</button></a>
            {% endif %}
        </centerw>
        <footer>
            @ts
        </footer>
        {% endblock %}
    </div>
</html>